/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FLEXBOX */
.flex {
  display: flex;
}

.flex-align{
  align-items: center;
}

.flex-justify {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

/* IMPOSTAZIONI UTILIZZATE SPESSO */
.color-grey {
  color: #757575;
}

.color-black {
  color: black;
}

.decoration-none {
  text-decoration: none;
}

.grey-borders {
  border: 1px solid #757575;
}

.img-fix {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 75px;

  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 25px;
  padding: 0 100px;

  justify-content: space-between;
}

#header-fix {
  position: fixed;
  width: 100vw;

}

header img {
  height: 90%;
}

#nav-right {
  width: 25%;
  justify-content: space-evenly;
}

header div i {
  font-size: 20px;
}

header div input {
  width: 250px;
  height: 35px;

  border-radius: 20px;
}

header div input::placeholder {
  text-align: center;
}

#user {
  width: 50px;
  height: 50px;
  
  background-color: #f4511e;

  border-radius: 50px;
}

#user span {
  color: white;
  font-size: x-large;
}

main {
  width: 99vw;
  padding: 125px 100px 0 100px;
}

#main-left{
width: 65%;
}

#main-right{
  width: 35%;
  flex-direction: column;

  border-left: 1px solid #e6e6e6;
  margin-top: -50px;
}

#menu-buttons{
  border-bottom: 1px solid #e6e6e6;
  margin-right: 35px;
}

#following {
  padding: 0 25px;
}

#for-u {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.article-logo, 
.saved-logo {
  width: 25px;
  height: 25px;

  border-radius: 50px;
  
  background-color: black;
  color: white;
}

.article-creator p,
.saved-creator p {
  padding-left: 10px;
}

.article-creator,
.article-preview,
.article-preview h2 {
  padding-bottom: 10px;
}

.article-categories p:first-child,
.article-categories p:not(:first-child) {
  padding: 5px;
}

.language-category,
#reccomended-topics span {
  background-color: #e6e6e6;
  border-radius: 25px;
}

.bookmark {
  width: 25px;
  height: 25px;
  background-image: url(img/bookmark.svg);
}

.article-info {
  justify-content: space-between;
}

.article-right {
  width: 90%;
  padding: 35px;
}

.article-left {
  padding: 35px 35px 35px 0;
}

.articles-img,
#article-2-img {
  width: 350px;
  height: 175px;
}

#article-2-img {
  background-color: #fed7a5;
  background-image: url(img/siringa.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.img-1 {
  background-image: url(img/redux-return.jpg);
}

#article-2-img img {
  width: 125px;
  height: 125px;
}

.img-3 {
  background-image: url(img/react-18.jpg);
}

.img-4 {
  background-image: url(img/startup-ideas.jpg);
}

.img-5 {
  background-image: url(img/re-rendering.jpg);
}

.article {
  justify-content: space-between;
}

#twitter-login,
#reccomended-topics,
#who-to-follow,
#recently-saved,
#footer-right {
  width: 75%;
}

#twitter-login {
  border-bottom: 1px solid #e6e6e6;
}

#twitter-login div,
#twitter-login a {
  padding: 5px;
}

#medium-logo {
  width: 50px;
  height: 50px;

  background-image: url(img/medium.png);
}

#twitter-logo {
  width: 30px;
  height: 30px;

  background-image: url(img/twitter-logo.svg);
}

.logos span {
  font-size: 25px;
}

#twitter-login-btn {
  border-radius: 25px;
}

#reccomended-topics span {
  padding: 10px 15px;
}

#reccomended-topics div,
.saved-article {
  padding: 10px 0;
}

#reccomended-topics h3,
#recently-saved h3,
#footer-right {
  padding: 50px 0 10px 0;
}

#reccomended-topics span {
  margin: 10px;
}

#reccomended-topics div {
  margin: 10px 0;
}

#who-to-follow {
  padding-top: 50px;
}

.profile-logo{
  width: 50px;
  height: 50px;

  border-radius: 50px;
  
  background-color: black;
  color: white;

  margin-right: 10px;
}

.profiles {
  padding-top: 25px;
  justify-content: space-between;
}

.profile-description {
  font-size: small;
}

.follow-btn {
  padding: 10px;
  border-radius: 25px;
}

.see-all {
  color: #379432;
}

.footer-second-line a {
  padding: 10px 50px 0 0;
}